<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://linebotfortest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>linebotfortest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LineBotforTest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LineBotforTest</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=linebotfortest.database.windows.net;Initial Catalog=LINEBOT;Persist Security Info=True;User ID=shadollu;Password=Iniquityspirit44;Application Name=EntityFramework" Name="Data Source=linebotfortest.database.windows.net;Initial Catalog=LINEBOT;Persist Security Info=True;User ID=shadollu;Password=Iniquityspirit44;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MerchantDB.Models.ApplicationDbContext, MerchantDB" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TestDB2Entities" Order="4" Enabled="False">
          <Destination Path="Data Source=192.168.111.90\MSSQLR2;Initial Catalog=TestDB2;User ID=sa;Password=!QAZ2wsx;Application Name=EntityFramework" Name="Data Source=192.168.111.90\MSSQLR2;Initial Catalog=TestDB2;User ID=sa;Password=!QAZ2wsx;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MerchantDB.Models.TestDB2Entities, MerchantDB" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LineBotEntities" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MerchantDB.Models.LineBotEntities, MerchantDB" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=linebotfortest.database.windows.net;Initial Catalog=LINEBOT;Persist Security Info=True;User ID=shadollu;Password=Iniquityspirit44;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LineBotEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TestDB2Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.MerchantDBEntities.csdl|res://*/Models.MerchantDBEntities.ssdl|res://*/Models.MerchantDBEntities.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.111.90\MSSQLR2;Initial Catalog=TestDB2;User ID=sa;Password=!QAZ2wsx;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>